<html>
<head>
<title> signin page</title>
<style>
a:link,a:visited{
background-color:royalblue;
color:white;
padding:5px 10px;
text-decoration:none;
}
a:hover,a:active{
background-color:lightblue;
}
</style>
</head>
<body>
<center>
<form action="/signin" method="POST">
<h1> signin page</h1>
<table>
<tr>
<td><label>Email:</label></td>
<td><input type="email" name="name"></td><br><br>
</tr>
<tr>
<td><label>Password:</label></td>
<td><input type="password" name="name"></td><br><br>
</tr>
</table><br>
<a href="af.html" target="_blank">submit</a><button type="reset">reset</button></center>
</form>

</body>
</html>

